# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
.venv/
venv/
env/

# Data
data/
*.h5
*.hdf5
*.pt
*.nc

# Jupyter
.ipynb_checkpoints/

# Experiments and Outputs
notebooks/experiments/
figures/
checkpoints/
results/

# Environment/Shortcuts
experiments_shortcut
logs_shortcut
.venv/

# VA-API graphics libs (needed locally but not version-controlled)
lib/

# Weights & Biases
wandb/

# Log files
*.log

